.content {
  background-color: azure;
  display: grid;
  gap: 0.25rem;
  max-width: 64rem;
}

.header {
  text-align: center;
  padding: 1rem;
}

.main {
  padding: 1rem;
}

.footer {
  padding: 1rem;
}
