*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --color-bg: rgb(252, 255, 164);
  --color-fg: black;

  color-scheme: light;
}

body {
  color: var(--color-fg);
  background-color: var(--color-bg);
  margin: 0;
}
