.content {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
}

.header {
  display: flex;
  grid-area: header;
  justify-content: center;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: content;
}

.footer {
  grid-area: footer;
}
