.content {
  background-color: azure;
  display: grid;
  gap: 0.25rem;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  max-width: 64rem;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
}

.header {
  display: flex;
  grid-area: header;
  justify-content: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: rgb(224, 127, 0);
}

.main {
  grid-area: content;
}

.footer {
  grid-area: footer;
}
